name: STL homework

on: [push, pull_request]

jobs:
  insensitive-palindrom:
    runs-on: ubuntu-latest
    env:
      path: homework/insensitive-palindrom/build
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Create build directory
      run: mkdir ${{ env.path }}
    - name: Compile
      working-directory: ${{ env.path }}
      run: |
        cmake ..
        make
    - name: Run tests
      working-directory: ${{ env.path }}
      run: ctest -V

  formatting_check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Run clang-format style check
      uses: coders-school/github-actions/clang-format-check@main
      with:
        check_path: 'homework/insensitive-palindrom'
