name: STL containers homework

on: [push, pull_request]

jobs:
  grayscale-image:
    runs-on: ubuntu-latest
    env:
      path: homework/grayscale-images/build
    steps:
    - name: Check out code
      uses: actions/checkout@master
    - name: Create build directory
      run: mkdir ${{ env.path }}
    - name: Compile
      working-directory: ${{ env.path }}
      run: |
        cmake ..
        make
    - name: Run tests
      working-directory: ${{ env.path }}
      run: ctest -V
